{%extends 'crm\base.html'%}

{% block content %}

    {%if customer%}
        <div id="customer-card" hx-target="this" hx-swap="outerHTML" class="card border-primary text-center text-primary" style="background-color: #d1d1d1;">
            <div class="card-header">
            <ul class="nav nav-pills nav-fill mb-3 pills-tab">
                <li class="nav-item">
                <a class="nav-link active" href="#">Customer Info</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{%url 'crm_app:customer transactions' customer.id%}">Transactions</a>
                </li>
            </ul>
            </div>
            <div id="card-body" class="card-body table-primary">
            <h5 class="card-title">{{customer.first_name}} {{customer.last_name}}</h5>
            <p class="card-text"><strong>Email: </strong>{{customer.email}}</p>
            <p class="card-text"><strong>Phone Number: </strong>{{customer.phone_number}}</p>
            <p class="card-text"><strong>Address: </strong>{{customer.address}}</p>
            <p class="card-text"><strong>City: </strong>{{customer.city}}</p>
            <p class="card-text"><strong>State: </strong>{{customer.state}}</p>
            <p class="card-text"><strong>Postal Code: </strong>{{customer.postal_code}}</p>
            <a href="{%url 'crm_app:home'%}" class="btn btn-primary">Back</a>
            <a class="btn btn-warning" href="{%url 'crm_app:update customer' customer.id%}" >Edit</a>
            <a href="{%url 'crm_app:delete customer' customer.id%}" class ="btn btn-danger">Delete</a>
            </div>
        </div>
    {%endif%}

{% endblock %}