{%extends 'crm\base.html'%}

{% block content %}

    {%if customer%}
        <div class="card text-center">
            <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link active" href="#">Customer Info</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{%url 'crm_app:customer transactions' customer.id%}">Transactions</a>
                </li>
            </ul>
            </div>
            <div class="card-body">
            <h5 class="card-title">{{customer.name}}</h5>
            <p class="card-text"><strong>Email: </strong>{{customer.email}}</p>
            <p class="card-text"><strong>Phone Number: </strong>{{customer.phone_number}}</p>
            <p class="card-text"><strong>User ID: </strong>{{customer.id}}</p>
            <a href="{%url 'crm_app:home'%}" class="btn btn-secondary">Back</a>
            <a href="{%url 'crm_app:delete customer' customer.id%}" class ="btn btn-danger">Delete</a>
            </div>
        </div>
    {%endif%}

{% endblock %}