{%extends 'crm/base.html'%}

{%block content%}

<h1 class="display-2 text-center text-primary">Customers</h1>

{%if customers%}
<table class="table table-hover table-primary">
    <thead class="table-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        </tr>
    </thead>
    
    {% for customer in customers%}
    <tbody>
    <td><a href="{%url 'crm_app:customer detail' customer.id%}">{{customer.first_name}}  {{customer.last_name}}</a></td>
    <td>{{customer.phone_number}}</td>
    <td>{{customer.email}}</td>
    </tbody>
    {%endfor%}
    </table>
{%endif%}
<a class="btn btn-primary m-auto" href="{%url 'crm_app:add customer'%}" role="button">Add Customer</a>

{% endblock %}