{%extends 'crm\base.html'%}

{% block content %}

    {%if customer%}
        <div class="card text-center">
            <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link" href="{%url 'crm_app:customer detail' customer.id%}">Customer Info</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="#">Transactions</a>
                </li>
            </ul>
            </div>
            <div class="card-body">
            {%if transactions%}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Total</th>
                    <th scope="col">Transaction date, time</th>
                    <th scope="col">Transaction ID</th>
                </tr>
                </thead>
                {% for transaction in transactions %}
                    <tbody>
                    <td>{{transaction.customer.first_name}} {{transaction.customer.last_name}}</td>
                    <td>${{transaction.total}}</td>
                    <td>{{transaction.transaction_datetime}}</td>
                    <td><a href="{%url 'crm_app:transaction detail' transaction.id%}">{{transaction.id}}</a></td>
                    </tbody>
                {%endfor%}
            </table>
        {% else %}
            <h1 class="text-light">No transactions for this user.</h1>
        {% endif %}
            <a href="{%url 'crm_app:home'%}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    {%endif%}


{% endblock %}