{%extends 'crm/base.html'%}

{%block content%}

{% if user.is_authenticated %}
<h1 class="display-2 text-center text-primary">Dashboard</h1>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Key Metrics</div>
  <div class="card-body">
    <p class="card-text">Total revenue this month:</p>
    <p class="card-text">Total revenue this year:</p>
    <p class="card-text">Total transactions this month:</p>
    <p class="card-text">Total transactions this year:</p>
    <p class="card-text">Current total customers:</p>
  </div>

{% else %}

    <h1 class = "text-light">Login</h1>
    <br/>

    <form method="post" action="{%url 'crm_app:home' %}" class="text-light">
        
        {% csrf_token %}
        <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name = "username" placeholder="Enter username" required>
        </div>
        <br/>
        <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name = "password" placeholder="Enter password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Log in</button>

    </form>
    <a href="{%url 'crm_app:register%}" class="btn btn-secondary">Don't have an account? Sign up</a>

{% endif %}

{% endblock %}