{%extends 'crm\base.html'%}

{%block content%}

    {%if transaction%}
    <div class="card border-primary mb-3 text-center">
        <div class="card-header">
        Transaction ID #{{transaction.id}}
        </div>
        <div class="card-body">
        <h5 class="card-title">{{customer.first_name}}  {{customer.last_name}}</h5>
        <p class="card-text"><strong>Name: </strong>{{transaction.customer.first_name}} {{transaction.customer.last_name}}</p>
        <p class="card-text"><strong>Total: </strong>${{transaction.total}}</p>
        <p class="card-text"><strong>Description: </strong>{{transaction.description}}</p>
        <a href="{%url 'crm_app:transactions'%}" class="btn btn-primary">Back</a>
        <a href="#" class ="btn btn-danger">Delete</a>
        </div>
        <div class="card-footer">
            {{transaction.transaction_datetime}}
        </div>
    </div>
    {% else %}
        <h1 class="text-light">No transaction.</h1>
    {% endif %}

{% endblock %}