{%extends 'crm\base.html'%}

{%block content%}

    {%if transaction%}
    <div class="card text-center">
        <div class="card-header">
        Transaction
        </div>
        <div class="card-body">
        <h5 class="card-title">{{customer.name}}</h5>
        <p class="card-text"><strong>Name: </strong>{{transaction.customer.name}}</p>
        <p class="card-text"><strong>Total: </strong>${{transaction.total}}</p>
        <p class="card-text"><strong>Transaction date, time: </strong>{{transaction.transaction_datetime}}</p>
        <p class="card-text"><strong>Transaction ID: </strong>{{transaction.id}}</p>
        <a href="{%url 'crm_app:transactions'%}" class="btn btn-secondary">Back</a>
        <a href="#" class ="btn btn-danger">Delete</a>
        </div>
    </div>
    {% else %}
        <h1 class="text-light">No transaction.</h1>
    {% endif %}

{% endblock %}